* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14pt;


}

form{
    display: block;
}

.centerly {
    width: 100%;
    height: auto;
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 30%;
    height: 30%;
}



.bl {
    font-weight: 400;
    color: #4285F4;
    font-size: 12pt;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 1px rgb(163, 163, 163) solid;
    padding-left: 10px;
}



.next {
    width: 20%;
    height: 40px;
    border: none;
    background-color: #4285F4;
    color: white;
    border-radius: 7px;
    margin-right: 0;
    margin-left: auto;
    margin-right: 0;
    float: right;
}